*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #FFFFFF;

}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
h2 {
    font-weight: 700;
    font-size: 36px;
}
h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
}

p {
    padding: 0;
    margin: 0;
}
button {
    font-weight: 500;
    color: #fff;

    cursor: pointer;
    background: #4d5ae5;
}
ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}
svg {
    display: block;
}

.container {
    width: 100%;
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.main-header {
    border-bottom: 1px solid #e7e9fc;
}
.main-header .container {
    display: flex;
    align-items: center;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;

    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4d5ae5;
}
.header-logo {
    margin-right: 76px;
    padding: 24px 0;
}
.logo-span {
    color: #2e2f42;
}
.nav {
    display: flex;
    align-items: center;
}
.menu {
    display: flex;
    gap: 40px;

    align-items: center;
}
.nav-ref {
    font-weight: 500;
    font-size: 16px;

    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2e2f42;

    padding: 24px 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu li {
    display: flex;
    flex-direction: column;
    position: relative;
}
.current-nav .nav-ref{
    color: #404bbf;
}
.current-nav::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    top: 69px;
    background: #404bbf;
}
.nav-ref:hover, .nav-ref:focus {
    color: #404bbf;
}
.contacts {
    margin-left: auto;
}
.contacts-list {
    font-style: normal;

    display: flex;
    gap: 40px;
}
.contacts-ref {
    font-size: 12px;
    line-height: 150%;
    color: #434455;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.02em;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-ref:hover, .contacts-ref:focus {
    color: #404bbf;
}

.hero {
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7)), 
    url(../images/people-office.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: #fff;

    padding: 188px 0;
    
}
.hero .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;

    margin: 0 auto 48px;
    max-width: 496px;
}
.hero-button {
    line-height: 1.5;
    letter-spacing: 0.04em;

    min-width: 169px;
    max-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}
.hero-button:hover, .hero-button:focus {
    cursor: pointer;
    background-color: #404BBF;
}

.features {
    padding: 120px 0;
}
.visually-hidden {
    color: #2e2f42;
    text-align: center;

    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.features-list {
    display: flex;
    gap: 24px;

}
.features-item {
    width: calc((100% - 72px) / 4);
}
.features-icon-container {
    display: flex;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    justify-content: center;
    align-content: center;

    background: #f4f4fd;
    margin-bottom: 8px;
}
.features-icon {
    margin: auto auto;
}
.features-name {
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.features-text {
    color: #434455;
}

.our-team {
    background: #f4f4fd;
    padding: 120px 0;
}
.our-team-title {
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.our-team-cards {
    display: flex;
    gap: 24px;
}
.team-card {
    background: #fff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 
    0 1px 6px 0 rgba(46, 47, 66, 0.08);

    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.team-card:hover .team-member-elipse {
    background-color: #404bbf;
}
.team-card-text {
    padding: 32px 0;
}
.team-member-name {
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
    color: #2e2f42;
}
.team-member-post {
    font-size: 16px;
    text-align: center;
    color: #434455;
}
.team-member-social {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 8px;
}
.team-member-elipse {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-member-link { 
}

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;

    margin-bottom: 72px;
}
.portfolio-card {
    width: calc((100% - 48px) / 3);
}
.portfolio-card-image {
    position: relative;
    overflow: hidden;
}
.overlay {
    padding: 8px;
    background-color: #3f51b5;
    color: #fff;
    font-family: sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-card:hover, .portfolio-card:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-card:hover .overlay, .portfolio-card:hover .overlay {
    transform: translateY(0);
}
.portfolio-card-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

    margin-bottom: 8px;
}
.portfolio-card-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background-color: #2e2f42;
    color: #f4f4fd;

    padding: 100px 0;
}
.footer .container {
    display: flex;
    gap: 120px;
}
.footer-logo-text {
}
.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}
.footer-logo-span {
    color: #f4f4fd;
}
.footer-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;

    max-width: 264px;
}
.footer-social {
}
.footer-social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #fff;

    margin-bottom: 16px;
}
.footer-social-icons {
    display: flex;
    gap: 16px;
}
.footer-social-elipse {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-elipse:hover, .footer-social-elipse:focus {
    background-color: #31D0AA;
}
.footer-social-link {
}